/*----------------------------------------------------------------
    TYPE
-------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300,500,700);

body {
  font-family: 'Roboto';
  color: #2c3d4a;
}

.tc {text-align: center; }
.tl {text-align: left; }
.tr {text-align: right; }

.strong, .bold {font-weight: bolder; }
.italic {font-style: italic; }

.small-caps {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bolder;
  color: $secondaryColor;
}

.thin {
  font-weight: 300;
}

.uppercase {text-transform: uppercase; }
.lowercase {text-transform: lowecase; }
.capitalize {text-transform: capitalize; }

.mono {   font-family: 'Roboto Mono'; }

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  margin: $baseMargin 0 $baseMargin/4 0;
  line-height: 1.3;
  color: #2c3d4a;
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
}

h1>a,
h2>a,
h3>a,
h4>a {
  text-decoration: none;
  color: black;
}

.h1l {
  font-size: $fontH1l;
  line-height: 110%;
}

h1,
.h1 {
  font-size: $fontH1;
}

h2,
.h2 {
  font-size: $fontH2;
}

h3,
.h3 {
  font-size: $fontH3;
}

h4,
.h4 {
  font-size: $fontH4;

}

p,
.p {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-weight: $fontNormal;
  display: block;
  margin: 0 0 16px 0;


  &:last-child {
    margin: 0;
  }
}
